alias ls="EXA_ICON_SPACING=2 exa -g --icons"
alias ll="EXA_ICON_SPACING=2 exa -lahgH --icons"
alias cat="bat"
alias vim="nvim"

alias projects="cd ~/Projects"

# git commands
alias ga="git add"
alias gc="git commit"
alias gd="git diff"
alias gl="git log"
alias gp="git push"
alias gs="git status"
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
